[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycnv = "*"
pandas = "*"
xarray = "*"
numpy = "*"
scipy = "*"
pylablib = "*"
matplotlib = "*"
netcdf4 = "*"
pyrsktools = "*"
setuptools = "*"

[dev-packages]
build = "*"
twine = "*"
sphinx = "*"
nbsphinx = "*"
myst-parser = "*"
sphinx_rtd_theme = "*"
pytest = "*"

[requires]
python_version = "3.10"
