-i https://pypi.org/simple
certifi 
cftime 
contourpy 
cycler 
fonttools 
gsw 
kiwisolver 
llvmlite 
matplotlib 
netcdf4 
numba 
numpy 
packaging 
pandas 
pillow 
plumbum 
pyaml 
pycnv 
pyft232 
pylablib 
pyparsing 
pyproj 
pyqt5 
pyqt5-qt5 
pyqt5-sip 
pyqtgraph 
pyserial 
python-dateutil 
pytz 
pyusb 
pyvisa 
pyyaml 
rpyc 
scipy 
six 
typing-extensions 
tzdata 
xarray 
sphinx
sphinx-rtd-theme
pypandoc
nbsphinx
nbconvert
myst_parser
