-i https://pypi.org/simple
pycnv
pandas
xarray
numpy
scipy
matplotlib
netcdf4
pint
mhkit[dolfyn]>=1.0.0
pyrsktools
seabirdscientific>=1.2.0
gsw
setuptools
build
twine
sphinx
nbsphinx
myst-parser
sphinx_rtd_theme
pytest
jupyter
nbconvert
