name: Test documentation build

on:
  # This will run when a pull request is merged
  pull_request:
    paths:
      - '**.py'
      - '**.ipynb'
      - '**.rst'
      - '**.md'

jobs:
  build-docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    permissions:
      contents: write

    steps:
    - name: Run a one-line script
      run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
    - uses: actions/checkout@v4

    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
  
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi


    - name: Install ctd_tools
      shell: bash -l {0}
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    # Assumes that the notebook to be documented is located within notebooks/ and is called demo.ipynb
    # In the example below, we've included the `--ExecutePreprocessor.allow_errors=True` flag to allow the notebook to build even if there are errors
    # For production runs (and when your code is cleaner), you can remove this flag or set it to False.
    - name: Build documentation
      shell: bash -l {0}
      run: |
        set -e
        pushd docs
        make clean html 
        popd